* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

/* Start Nav */

.ps-32 {
  padding-left: 32px;
}

.navbar {
  transform: translateX(-240px);
  transition: all 0.5s;
  z-index: 9999;
}

.z-index {
  z-index: 999;
}

.h-index {
  z-index: 99999;
}

.z-search {
  position: relative;
  z-index: 9999;
}

.navbar.Meals {
  transform: translateX(0);
}

.navbar.show {
  transform: translateX(0);
}

.side-nav h1 {
  font-size: 36px;
}

.icons {
  cursor: pointer;
}

#menuLogo,
#menuIcon {
  width: 50px;
  height: auto;
}

#openIcon,
#closeIcon,
#contactIcon,
nav ul li span {
  cursor: pointer;
}

nav ul li i,
nav ul li span.animaT {
  display: inline-block;
  opacity: 0;
  animation: slidetop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes slidetop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

nav ul li i,
nav ul li span.animaD {
  display: inline-block;
  opacity: 1;
  animation: slidedown 0.5s ease forwards;
}

@keyframes slidedown {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
/* End Nav */

.meal-photo {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.meal-content {
  font-family: "Inter", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  background-color: #f9f6f6ca;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
  padding-left: 10px;
}

.meal-photo:hover .meal-content {
  opacity: 1;
  height: 100%;
}

.btn {
  width: fit-content;
}

.bg-transparent-75 {
  background-color: #f8d7da;
  padding: 10px;
  border-radius: 4px;
}
.badge-bg {
  font-size: 16px;
  color: #055160;
  background-color: #cff4fc;
}

.loading {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 95px;
  height: 95px;
  border: 15px dotted #fff;
  border-bottom: 10px dotted transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.detailsMail {
  z-index: 999;
  overflow-y: auto;
}

.fa-house-laptop,
.fa-drumstick-bite {
  font-size: 4rem;
}

.pointer {
  cursor: pointer;
}
